<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
    <meta charset="UTF-8"/>
    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <link href="/webjars/materializecss/0.97.5/css/materialize.css" type="text/css" rel="stylesheet"
          media="screen,projection"/>
    <link href="/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
<div th:include="fragments/header :: header" ></div>

<div th:include="fragments/footer :: footer" ></div>
<!--  Scripts-->
<script src="/webjars/jquery/3.0.0/jquery.js"></script>
<script src="/webjars/materializecss/0.97.5/js/materialize.js"></script>
<script src="js/init.js"></script>
</body>
</html>